RewriteEngine On

# 1. Если пользователь (или ссылка в HTML) запросил страницу с .html, 
# делаем редирект (301), чтобы убрать .html из адресной строки браузера
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^\ ]+)\.html
RewriteRule ^/?(.*)\.html$ /$1 [L,R=301]

# 2. Внутренняя переадресация: если в адресе нет .html, сервер ищет файл с .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]